{% extends "website/page.html" %}

{% block head %}
	{{ super() }}
	<style>
		.bottom-nav {
			display: grid;
			grid-template-rows: 1fr;
			grid-column-gap: 12px;
			grid-row-gap: 0px;
		}

		.bottom-nav-1 {
			grid-template-columns: 1fr;
		}

		.bottom-nav-2 {
			grid-template-columns: repeat(2, 1fr);
		}

		.bottom-nav-link a {
			display: flex;
			height: 100%;
			padding: 2em;
			border: 1px solid #CCC;
			border-radius: 3px;
			color: #212529;
			align-items: center;
			font-size: 1.1em;
		}

		.book.color-theme-2 .bottom-nav-link a {
			color: white;
		}

		.text-left {
			text-align: left;
		}

		.text-right {
			text-align: right;
		}
	</style>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-utilities@4.1.3/bootstrap-utilities.css">
{% endblock head %}

{% block book_inner %}
	{% include "website/header.html" %}

	<div class="page-wrapper" tabindex="-1" role="main">
		<div class="page-inner">
			{% block search_results %}
				<section class="normal markdown-section">
				{% block page %}
				{{ page.content|safe }}
				{% endblock %}
				</section>
			{% endblock %}
			{% block bottom_nav %}
				{% if page.previous and page.next %}
					<nav class="bottom-nav bottom-nav-2 mt-4">
				{% else %}
					<nav class="bottom-nav bottom-nav-1 mt-4">
				{% endif %}
					{% if page.previous and page.previous.path %}
						<div class="bottom-nav-link">
							<a href="{{ page.previous.path|resolveFile }}{{ page.previous.anchor }}" class="text-right">
								<span class="mr-auto text-nowrap"><i class="fa fa-arrow-left"></i>&nbsp;</span>
								<b>{{ page.previous.title }}</b>
							</a>
						</div>
					{% endif %}
					{% if page.next and page.next.path %}
						<div class="bottom-nav-link">
							<a href="{{ page.next.path|resolveFile }}{{ page.next.anchor }}">
								<b>{{ page.next.title }}</b>
								<span class="ml-auto text-nowrap">&nbsp;<i class="fa fa-arrow-right"></i></span>
							</a>
						</div>
					{% endif %}
				</nav>
			{% endblock bottom_nav %}
		</div>
	</div>
{% endblock %}